body {
    font-family: fantasy;
    background-color: white;
    margin: 0 auto;
    width: 500px;
    border: 12px solid rgb(255, 128, 0);
    border-style: outset;
    padding:  2em 1em;
    background-color: rgb(219, 255, 204);
}
h1 {
    color: rgb(255, 128, 0);
    font-size: 3em;
}
div {
    margin-bottom: 1em;
}
label {
    display: inline-block;
    width: 11em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-right: 0.5em;
}
span {
    color: red;
}

.zephHatesOffCenterThings {
    text-align: center;
}

#smol {
    font-size: 0.6em;
    font-style: italic;
}
