h1 {
    text-align: center;
    margin-bottom: 0%;
}

p {
    text-align: center;
    margin-top: 0%;
}

.ezFont {
    font-family: fantasy;
}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
    background-color: #e5f8ff;
}

canvas {
    background-color: #000;
    border: 2px solid #FFF;
}
